<configuration>
  <packageSources>
    <add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="corefxlab" value="https://dotnet.myget.org/F/dotnet-corefxlab/api/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <clear />
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>